.container {
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 5px;
  @media (max-width: 1000px) {
    padding: 10px;
  }

  form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 5px;
    @media (max-width: 700px) {
      flex-direction: column;
      row-gap: 5px;
      column-gap: 2px;
    }

    .groupOfInputs {
      display: flex;
      flex-direction: column;
      row-gap: 5px;

      .blockForNumberOfPhone {
        display: flex;
        column-gap: 5px;
      }

      .inputStyle, .selectStyle {
        background-color: rgba(211, 211, 211, 0.91);
        padding: 4px 8px;
        font-size: 18px;
        color: #2d2d2d;
        border: 1px solid gray;
        border-radius: 5px;
        @media (max-width: 1000px) {
          font-size: 15px;
          padding: 2px 5px;
        }
      }
    }

    &.invalidStyle {
      input, select {

        &:invalid {
          border: 1px solid red;
        }
      }
    }
  }
}

.spanConfirm {
  color: red;
}

