.container {
  padding: 40px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  row-gap: 10px;

  form {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    column-gap: 10px;

    .groupOfInputs {
      display: flex;
      flex-direction: column;
      row-gap: 10px;

      .blockForNumberOfPhone {
        display: flex;
        column-gap: 5px;
      }

      .inputStyle, .selectStyle {
        background-color: rgba(211, 211, 211, 0.91);
        padding: 4px 8px;
        font-size: 18px;
        color: #2d2d2d;
        border: 1px solid gray;
        border-radius: 5px;
      }
    }

    &.invalidStyle {
      input, select {

        &:invalid {
          border: 1px solid red;
        }
      }
    }
  }
}

