.blockInformationAboutEmployee {
  padding: 60px 10px;
  background-color: #F5F8F9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;

  .blockForImg {
    background-color: #d3d3d3;
    width: 183px;
    height: 183px;
    border-radius: 100%;
    box-shadow: 0px 0px 8px 1px #8a8a8a;
    margin-bottom: 10px;

    .image {
      width: 180px;
      height: 180px;
      border-radius: 100%;
    }
  }

  .describe {
    width: 60%;
    font-size: 19px;
    text-align: center;
    line-height: 1.4;
    text-shadow: 0px 0px 1px black;
    color: #575757;
    margin-bottom: 10px;
  }

  .blockForContact {
    min-width: 25%;
    padding: 20px 0;
    display: flex;
    //align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    row-gap: 5px;

    h4 {
      margin-bottom: 5px;
      font-size: 19px;
      color: #506CAB;
      text-shadow: 0px 1px 1px #3f3e3e;
      font-weight: bold;
    }

    .blockForIconAndSpan {
      display: flex;
      align-items: center;
      column-gap: 15px;

      .icon {
        color: #195401;
      }

      span {
        font-size: 19px;
        text-shadow: 0px 0px 1px black;
        color: #3b3b3b;
      }
    }
  }

  .blockForBtns {
    display: flex;
    column-gap: 10px;
    margin-bottom: 15px;

    .btnWrite, .btnBook {
      background-color: rgba(70, 109, 192, 0.85);
      color: white;
      font-size: 15px;
      letter-spacing: 1px;
      padding: 5px 28px;
      border-radius: 8px;
      border: 1px solid #4f5dc0;
      text-transform: uppercase;
      transition: 400ms;

      &:hover {
        cursor: pointer;
        background-color: rgba(50, 84, 157, 0.85);
      }
    }
  }
}
