.blockInformationAboutEmployee {
  padding: 40px 10px;
  background-color: #F5F8F9;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.blockInformationAboutEmployee .blockForImg {
  background-color: #d3d3d3;
  width: 183px;
  height: 183px;
  border-radius: 100%;
  box-shadow: 0px 0px 8px 1px #8a8a8a;
  margin-bottom: 10px;
}
@media (max-width: 900px) {
  .blockInformationAboutEmployee .blockForImg {
    width: 153px;
    height: 153px;
  }
}
@media (max-width: 500px) {
  .blockInformationAboutEmployee .blockForImg {
    width: 130px;
    height: 130px;
  }
}
.blockInformationAboutEmployee .blockForImg .image {
  width: 180px;
  height: 180px;
  border-radius: 100%;
}
@media (max-width: 900px) {
  .blockInformationAboutEmployee .blockForImg .image {
    width: 150px;
    height: 150px;
  }
}
@media (max-width: 500px) {
  .blockInformationAboutEmployee .blockForImg .image {
    width: 133px;
    height: 133px;
  }
}
.blockInformationAboutEmployee .blockForContact {
  min-width: 25%;
  padding: 20px 10px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  row-gap: 5px;
  box-sizing: border-box;
}
@media (max-width: 800px) {
  .blockInformationAboutEmployee .blockForContact {
    padding: 10px 5px;
    row-gap: 2px;
  }
}
.blockInformationAboutEmployee .blockForContact h4 {
  margin-bottom: 5px;
  font-size: 19px;
  color: #506CAB;
  text-shadow: 0px 1px 1px #3f3e3e;
  font-weight: bold;
  width: 100%;
  text-align: left;
}
@media (max-width: 800px) {
  .blockInformationAboutEmployee .blockForContact h4 {
    font-size: 14px;
    width: 70%;
  }
}
.blockInformationAboutEmployee .blockForContact .blockForIconAndSpan {
  display: flex;
  align-items: center;
  column-gap: 15px;
}
.blockInformationAboutEmployee .blockForContact .blockForIconAndSpan .icon {
  color: #195401;
}
.blockInformationAboutEmployee .blockForContact .blockForIconAndSpan span {
  font-size: 19px;
  text-shadow: 0px 0px 1px black;
  color: #3b3b3b;
}
@media (max-width: 800px) {
  .blockInformationAboutEmployee .blockForContact .blockForIconAndSpan span {
    font-size: 15px;
  }
}
.blockInformationAboutEmployee .blockForBtns {
  display: flex;
  column-gap: 10px;
  margin-bottom: 15px;
}
@media (max-width: 800px) {
  .blockInformationAboutEmployee .blockForBtns {
    column-gap: 5px;
    margin-bottom: 10px;
  }
}
.blockInformationAboutEmployee .blockForBtns .btnWrite, .blockInformationAboutEmployee .blockForBtns .btnBook {
  background-color: rgba(70, 109, 192, 0.85);
  color: white;
  font-size: 15px;
  letter-spacing: 1px;
  padding: 5px 28px;
  border-radius: 8px;
  border: 1px solid #4f5dc0;
  text-transform: uppercase;
  transition: 400ms;
}
.blockInformationAboutEmployee .blockForBtns .btnWrite:hover, .blockInformationAboutEmployee .blockForBtns .btnBook:hover {
  cursor: pointer;
  background-color: rgba(50, 84, 157, 0.85);
}
@media (max-width: 800px) {
  .blockInformationAboutEmployee .blockForBtns .btnWrite, .blockInformationAboutEmployee .blockForBtns .btnBook {
    padding: 4px 12px;
    font-size: 10px;
  }
}
@media (max-width: 350px) {
  .blockInformationAboutEmployee .blockForBtns .btnWrite, .blockInformationAboutEmployee .blockForBtns .btnBook {
    padding: 4px 10px;
    font-size: 8px;
  }
}

/*# sourceMappingURL=InformationaAboutEmployee.module.css.map */
