.container {
  display: flex;
  align-items: center;
  column-gap: 5px;
  padding-bottom: 8px;
  @media (max-width: 800px) {
    padding: 5px;
  }

  .emptyBlock {
    border-top: dashed 1px #9C5E02;
    width: 40px;
  }

  img {
    width: 40px;
  }
}
