.container {
  display: flex;
  flex-direction: column;
  row-gap: 5px;

  h3 {
    color: white;
    font-size: 25px;
    text-shadow: 0px 0px 1px black;

    span {
      color: #ef5151;
    }
  }

  .describe {
    width: 210px;
    @media (max-width: 1200px) {
      width: 200px;
    }
  }
}
