.section {
  background-color: rgba(213, 213, 213, 0.84);
  display: flex;
  column-gap: 55px;
  justify-content: flex-start;
  padding: 80px 20px 80px 0px;
  box-sizing: border-box;
}

@media (max-width: 1480px) {
  .section {
    flex-direction: column;
    align-items: center;
    row-gap: 20px;
  }
}
