.categoryCard {
  box-sizing: border-box;

  .titleCategory {
    width: 40%;
    color: white;
    background-color: #ef5151;
    padding: 10px 0;
    margin: 20px 0px 40px 0px;
    display: flex;
    justify-content: center;
  }
}
