.month {
  font-size: 22px;
  margin-bottom: 10px;
  font-weight: bold;
  letter-spacing: 1px;
  color: #4b4b4b;
  text-shadow: 0px 1px 1px #8f8e8e;
}

.containerForDays {
  width: 65%;
  /*display: flex;
   justify-content: center;
   column-gap: 4px;
   row-gap: 4px;
   flex-wrap: wrap;
   box-sizing: border-box;
   background-color: rgb(135, 161, 239);
   padding: 4px;
   border-radius: 15px;
   border: 1px inset #4d72ee;*/
  margin-bottom: 20px;
}

.containerForHours {
  box-sizing: border-box;
  width: 80%;
  //  display: flex;
  //  column-gap: 5px;
  /// row-gap: 5px;
  // justify-content: center;
  // flex-wrap: wrap;
}

