.containerForContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-sizing: border-box;

  .content {
    width: 450px;
    text-align: center;
    line-height: 1.4;
    font-size: 19px;
    margin-bottom: 20px;
  }

  .btnReadMore {
    padding: 10px 40px;
    border: none;
    transition: all 400ms linear;
    background-color: #ef5151;
    color: white;
    text-shadow: 0px 1px 1px #2f2f2f;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      transform: perspective(1px) scale(0.95);
    }

    &:focus {
      background-color: #e82323;
    }
  }
}
