.sectionPricing {
  background-color: white;
  box-sizing: border-box;
  padding: 50px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  @media (max-width: 1200px) {
    padding: 20px;
  }

  .blockForTitle {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .containerForCategories {
    display: flex;
    column-gap: 25px;
    flex-wrap: wrap;
    justify-content: center;
  }
}
