.sectionPricing {
  background-color: white;
  box-sizing: border-box;
  padding: 80px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;

  .blockForTitle {
    box-sizing: border-box;

    .title {
      font-size: 35px;
      color: #ef5151;
      margin-bottom: 20px;
    }
  }

  .containerForCategories {
    display: flex;
    column-gap: 25px;
  }

  .btnShowMore {
    padding: 10px 40px;
    border: none;
    transition: all 400ms linear;
    background-color: #ef5151;
    color: white;
    text-shadow: 0px 1px 1px #2f2f2f;
    border-radius: 5px;
    font-size: 15px;
    font-weight: bold;
    text-transform: uppercase;

    &:hover {
      cursor: pointer;
      transform: perspective(1px) scale(0.95);
    }
  }
}
