.container {
  background-color: #f3f2f2;
  display: flex;
  align-items: center;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 5px;

  .spanId, .serviceTitle, .spanPrice {
    width: 10%;
    color: #464646;
    font-weight: bold;
    font-size: 16px;
  }

  .serviceTitle {
    width: 65%;
  }

  .infoIcon {
    background-color: rgba(241, 241, 241, 0);
    padding: 5px 25px;
    border-radius: 40%;
    margin-left: 20px;
    color: red;
    box-sizing: border-box;

    &:hover {
      cursor: help;
    }
  }

  .spanPrice {
    width: 15%;
  }

  input {
    width: 10%;
    scale: 1.4;
  }
}
