.blockDay {
  width: 120px;
  background-color: #ffffff;
  box-sizing: border-box;
  padding: 20px 4px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  box-shadow: 0px 0px 20px 1px inset rgba(200, 201, 201, 0.82);
  border-radius: 10px;
  @media (max-width: 800px) {
    width: 90px;
  }

  &.selectedDay {
    //background-color: rgba(155, 252, 143, 0.6);
    background-color: whitesmoke;
    border: 1px inset #be3b3b;
    //  scale: 1.04;
  }

  &:hover {
    cursor: pointer;
  }

  .number {
    color: black;
    font-size: 22px;
    font-weight: bold;
  }

  .day {
    color: black;
    font-size: 18px;
    letter-spacing: 1px;
    @media (max-width: 800px) {
      font-size: 13px;
    }
  }
}

