.container {
  background-color: #DCDCDC;
  display: flex;
}
.container .image {
  height: 35vw;
  box-shadow: 1px 1px 4px 1px rgba(0, 0, 0, 0.8117647059);
  border-radius: 0 15px 15px 0;
}
@media (max-width: 700px) {
  .container .image {
    height: 30vw;
  }
}
@media (max-width: 600px) {
  .container .image {
    display: none;
  }
}
@media (max-width: 600px) {
  .container {
    justify-content: center;
  }
}
.container .blockForForm {
  width: 80%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  box-sizing: border-box;
  padding: 20px 0;
}
@media (max-width: 600px) {
  .container .blockForForm {
    padding: 10px;
  }
}
.container .blockForForm .content {
  width: 450px;
  text-align: center;
  line-height: 1.2;
  margin-bottom: 20px;
  color: #464646;
  font-weight: bold;
  font-size: 18px;
  text-shadow: 0px 1px 1px #d0d0d0;
}
@media (max-width: 1100px) {
  .container .blockForForm .content {
    width: 350px;
    line-height: 1;
    margin-bottom: 5px;
    font-size: 14px;
  }
}
@media (max-width: 750px) {
  .container .blockForForm .content {
    width: 250px;
    font-size: 13px;
  }
}
@media (max-width: 550px) {
  .container .blockForForm .content {
    width: 200px;
    font-size: 12px;
  }
}
.container .blockForForm form {
  display: flex;
  row-gap: 10px;
  flex-direction: column;
}
@media (max-width: 750px) {
  .container .blockForForm form {
    row-gap: 5px;
  }
}
.container .blockForForm form .groupe {
  display: flex;
  align-items: center;
  column-gap: 5px;
}
.container .blockForForm form .groupe select {
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 14px;
  background-color: transparent;
  border: 2px solid #868686;
  color: #000f4d;
  text-shadow: 0px 0px 1px black;
  font-weight: bold;
}
@media (max-width: 1100px) {
  .container .blockForForm form .groupe select {
    padding: 5px;
    font-size: 14px;
  }
}
@media (max-width: 550px) {
  .container .blockForForm form .groupe select {
    font-size: 12px;
  }
}
.container .blockForForm form .groupe .chooseWhoSendTo {
  color: #000dff;
  font-weight: bold;
}
.container .blockForForm form textarea {
  width: 100%;
  resize: none;
  background-color: transparent;
  border: 2px solid #868686;
  border-radius: 5px;
  color: #282828;
  text-shadow: 0px 0px 1px black;
  font-size: 18px;
  padding: 5px 15px;
  box-sizing: border-box;
  height: 115px;
}
@media (max-width: 1100px) {
  .container .blockForForm form textarea {
    padding: 5px;
    font-size: 14px;
  }
}
@media (max-width: 550px) {
  .container .blockForForm form textarea {
    font-size: 12px;
  }
}
.container .blockForForm form input {
  padding: 5px 15px;
  border-radius: 5px;
  font-size: 18px;
  background-color: transparent;
  border: 2px solid #868686;
  color: #282828;
  text-shadow: 0px 0px 1px black;
  box-sizing: border-box;
}
@media (max-width: 1100px) {
  .container .blockForForm form input {
    padding: 5px;
    font-size: 14px;
  }
}
@media (max-width: 550px) {
  .container .blockForForm form input {
    font-size: 12px;
  }
}
.container .blockForForm form .submit {
  border: none;
  transition: all 400ms linear;
  background-color: #ef5151;
  color: white;
  text-shadow: 0px 1px 1px #2f2f2f;
  border-radius: 5px;
  font-size: 15px;
  font-weight: bold;
  text-transform: uppercase;
}
@media (max-width: 750px) {
  .container .blockForForm form .submit {
    font-size: 12px;
  }
}
.container .blockForForm form .submit:hover {
  background-color: #be3b3b;
  cursor: pointer;
}
.container .blockForForm form.invalidStyle input:invalid, .container .blockForForm form.invalidStyle select:invalid, .container .blockForForm form.invalidStyle textarea:invalid {
  border: 2px solid #e82323;
}

/*# sourceMappingURL=WriteToUs.module.css.map */
