.container {
  background-color: #DCDCDC;
  display: flex;
  $paddingInElementsOfForm: 5px 15px;
  $fontSizeInElementOfForm: 18px;
  $colorInElementsOfForm: #282828;

  .image {
    height: 35vw;
    box-shadow: 1px 1px 4px 1px #000000cf;
    border-radius: 0 15px 15px 0;
    @media (max-width: 700px) {
      height: 30vw;
    }
    @media (max-width: 600px) {
      display: none;
    }
  }

  @media (max-width: 600px) {
    justify-content: center;
  }

  .blockForForm {
    width: 80%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    box-sizing: border-box;
    padding: 20px 0;
    @media (max-width: 600px) {
      padding: 10px;
    }

    .content {
      width: 450px;
      text-align: center;
      line-height: 1.2;
      margin-bottom: 20px;
      color: #464646;
      font-weight: bold;
      font-size: 18px;
      text-shadow: 0px 1px 1px #d0d0d0;
      @media (max-width: 1100px) {
        width: 350px;
        line-height: 1.0;
        margin-bottom: 5px;
        font-size: 14px;
      }
      @media (max-width: 750px) {
        width: 250px;
        font-size: 13px;
      }
      @media (max-width: 550px) {
        width: 200px;
        font-size: 12px;
      }
    }

    form {
      display: flex;
      row-gap: 10px;
      flex-direction: column;
      @media (max-width: 750px) {
        row-gap: 5px;
      }

      .groupe {
        display: flex;
        align-items: center;
        column-gap: 5px;

        select {
          padding: $paddingInElementsOfForm;
          border-radius: 5px;
          font-size: $fontSizeInElementOfForm - 4px;
          background-color: transparent;
          border: 2px solid #868686;
          color: #000f4d;
          text-shadow: 0px 0px 1px black;
          font-weight: bold;
          width: 100%;
          @media (max-width: 1100px) {
            padding: 5px;
            font-size: $fontSizeInElementOfForm - 4px;
          }
          @media (max-width: 550px) {
            font-size: $fontSizeInElementOfForm - 6px;
          }
        }

        .chooseWhoSendTo {
          color: #000dff;
          font-weight: bold;
        }
      }

      textarea {
        width: 100%;
        resize: none;
        background-color: transparent;
        border: 2px solid #868686;
        border-radius: 5px;
        color: $colorInElementsOfForm;
        text-shadow: 0px 0px 1px black;
        font-size: $fontSizeInElementOfForm;
        padding: $paddingInElementsOfForm;
        box-sizing: border-box;
        height: 115px;
        @media (max-width: 1100px) {
          padding: 5px;
          font-size: $fontSizeInElementOfForm - 4px;
        }
        @media (max-width: 550px) {
          font-size: $fontSizeInElementOfForm - 6px;
        }
      }

      input {
        padding: $paddingInElementsOfForm;
        border-radius: 5px;
        font-size: $fontSizeInElementOfForm;
        background-color: transparent;
        border: 2px solid #868686;
        color: $colorInElementsOfForm;
        text-shadow: 0px 0px 1px black;
        box-sizing: border-box;
        @media (max-width: 1100px) {
          padding: 5px;
          font-size: $fontSizeInElementOfForm - 4px;
        }
        @media (max-width: 550px) {
          font-size: $fontSizeInElementOfForm - 6px;
        }
      }

      .submit {
        border: none;
        transition: all 400ms linear;
        background-color: #ef5151;
        color: white;
        text-shadow: 0px 1px 1px #2f2f2f;
        border-radius: 5px;
        font-size: 11px;
        font-weight: bold;
        text-transform: uppercase;
        letter-spacing: 1px;
        padding: 8px 0;
        @media (max-width: 750px) {
          font-size: 12px;
        }

        &:hover {
          background-color: #be3b3b;
          cursor: pointer;
        }

        &:disabled {
          background-color: rgba(0, 0, 0, 0.29);
          cursor: not-allowed;
        }
      }

      &.invalidStyle {
        input, select, textarea {
          &:invalid {
            border: 2px solid #e82323;
          }
        }
      }
    }
  }
}
