.containerForService {
  box-sizing: border-box;
  width: 280px;

  .blockForTitlePrice {
    padding: 5px 10px 5px 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-top: dashed 1px gray;
    position: relative;

    .titleService, .price {
      position: absolute;
      top: -12px;
      background-color: white;
      font-size: 20px;
    }

    .titleService {
      left: 0;
      padding-right: 8px;
      color: #1e1e1e;
      font-weight: bold;
      font-size: 20px;
      letter-spacing: 1px;
    }

    .price {
      top: -15px;
      padding-left: 8px;
      right: 0;
      font-size: 26px;
      color: #ef5151;
      font-weight: bold;
    }
  }

  .describe {
    padding: 5px 10px 40px 0px;
    color: #464646;
    font-weight: bold;
    font-size: 16px;
  }
}
