.sectionEmpoyees {
  background-image: url("../../../assets/images/backgroundBlurEmployees.jpeg");
  background-repeat: no-repeat;
  background-size: cover;
  padding: 40px 0px 50px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  @media (max-width: 1100px) {
    padding: 20px 0 20px 0;
  }
  @media (max-width: 550px) {
    padding: 5px 0 5px 0;
  }

  .blockForTitle {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    box-sizing: border-box;
    @media (max-width: 550px) {
      padding-bottom: 5px;
    }

    .title {
      text-transform: uppercase;
      margin-bottom: 10px;
      color: white;
      font-size: 35px;
      text-shadow: 0px 0px 1px black;
      @media (max-width: 1000px) {
        font-size: 25px;
      }
      @media (max-width: 700px) {
        font-size: 18px;
      }
      box-sizing: border-box;
      @media (max-width: 550px) {
        padding-bottom: 10px;
        margin-bottom: 0;
      }
    }
  }

  .containerForCards {
    width: 85%;
    display: flex;
    justify-content: center;
    column-gap: 15px;
    box-sizing: border-box;
    row-gap: 10px;
    @media (max-width: 650px) {
      width: 100%;
    }
    @media (max-width: 500px) {
      width: 80%;
      flex-wrap: wrap;
    }
  }

  .btnView {
    text-transform: uppercase;
    margin-top: 40px;
    padding: 10px 40px;
    color: white;
    border-radius: 50px;
    background-color: #014D55;
    border: none;
    font-size: 15px;
    letter-spacing: 1px;
    transition: 400ms ease;

    &:hover {
      cursor: pointer;
      background-color: #013c42;
    }

    @media (max-width: 950px) {
      margin-top: 20px;
      padding: 5px 35px;
      font-size: 16px;
    }
    @media (max-width: 550px) {
      margin-top: 10px;
      padding: 5px 20px;
      font-size: 12px;
    }
  }
}
