.mainTitle {
  text-transform: uppercase;
  margin-bottom: 10px;
  font-size: 35px;
  color: #ef5151;
  letter-spacing: 1px;
  text-shadow: 0px 1px 1px white;
}

.containerInRegistration {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 15px;
  width: 1000px;
  box-sizing: border-box;
}

.contentInRegistration {
  width: 500px;
  text-align: center;
  color: #464646;
  font-weight: bold;
  font-size: 16px;
}
