.containerForImages {
  display: flex;
  column-gap: 15px;
  box-sizing: border-box;
  justify-content: flex-start;


  .blockForImage {
    background-color: #cbcbcb;
    box-sizing: border-box;
    width: 295px;
    height: 270px;
    position: relative;
    box-shadow: 0px 0px 15px 2px #838383;

    img {
      top: -25px;
      width: 285px;
      position: absolute;
    }
  }
}


@media (max-width: 1220px) {
  .containerForImages {
    .blockForImage {
      background-color: #cbcbcb;
      width: 255px;
      height: 220px;

      img {
        top: -30px;
        width: 245px;
        position: absolute;
      }
    }
  }
}

@media (max-width: 1000px) {
  .containerForImages {
    width: 90%;
    justify-content: center;
    column-gap: 20px;

    .blockForImage {
      width: 190px;
      height: 155px;

      img {
        top: -30px;
        width: 180px;
      }
    }
  }
}


@media (max-width: 750px) {
  .containerForImages {
    width: 100%;
    column-gap: 10px;

    .blockForImage {
      width: 150px;
      height: 115px;

      img {
        width: 140px;
      }
    }
  }
}

@media (max-width: 550px) {
  .containerForImages {
    width: 80%;
    flex-wrap: wrap;
    column-gap: 10px;
    row-gap: 5px;

    .blockForImage {
      width: 85px;
      height: 65px;

      img {
        width: 80px;
        top: -20px;
      }
    }
  }
}
