.containerForImages {
  display: flex;
  column-gap: 15px;
  box-sizing: border-box;
  justify-content: flex-start;


  .blockForImage {
    background-color: #cbcbcb;
    box-sizing: border-box;
    width: 295px;
    height: 270px;
    position: relative;
    box-shadow: 0px 0px 15px 2px #838383;

    img {
      top: -25px;
      width: 285px;
      position: absolute;
    }
  }
}


@media (max-width: 1220px) {
  .containerForImages {
    .blockForImage {
      background-color: #cbcbcb;
      width: 255px;
      height: 220px;

      img {
        top: -30px;
        width: 245px;
        position: absolute;
      }
    }
  }
}

@media (max-width: 940px) {
  .containerForImages {
    width: 70%;
    flex-wrap: wrap;
    justify-content: center;
    row-gap: 50px;
  }
}


@media (max-width: 450px) {
  .containerForImages {
    width: 100%;

    .blockForImage {
      background-color: #cbcbcb;
      width: 205px;
      height: 175px;

      img {
        top: -25px;
        width: 195px;
        position: absolute;
      }
    }
  }
}
